In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
happiness_file = "happiness_2015.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
life_expectancy_file = "Life_Expectancy_Data.csv"
life_expectancy_df = pd.read_csv(life_expectancy_file)
life_expectancy_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
print(life_expectancy_df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [12]:
life_expectancy_df = life_expectancy_df.drop(columns=['infant deaths', 'Alcohol' , 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'])
life_expectancy_df

          Country  Year      Status  Life expectancy
0     Afghanistan  2015  Developing              65.0
1     Afghanistan  2014  Developing              59.9
2     Afghanistan  2013  Developing              59.9
3     Afghanistan  2012  Developing              59.5
4     Afghanistan  2011  Developing              59.2
...           ...   ...         ...               ...
2933     Zimbabwe  2004  Developing              44.3
2934     Zimbabwe  2003  Developing              44.5
2935     Zimbabwe  2002  Developing              44.8
2936     Zimbabwe  2001  Developing              45.3
2937     Zimbabwe  2000  Developing              46.0

[2938 rows x 4 columns]

In [16]:
life_expectancy_df2 = life_expectancy_df[life_expectancy_df.Year == 2015]
life_expectancy_df2

                                 Country  Year      Status  Life expectancy
0                            Afghanistan  2015  Developing              65.0
16                               Albania  2015  Developing              77.8
32                               Algeria  2015  Developing              75.6
48                                Angola  2015  Developing              52.4
64                   Antigua and Barbuda  2015  Developing              76.4
...                                  ...   ...         ...               ...
2858  Venezuela (Bolivarian Republic of)  2015  Developing              74.1
2874                            Viet Nam  2015  Developing              76.0
2890                               Yemen  2015  Developing              65.7
2906                              Zambia  2015  Developing              61.8
2922                            Zimbabwe  2015  Developing              67.0

[183 rows x 4 columns]

In [9]:
healthy_life_expectancy_file = "healthy_life_expectancy_data.csv"
healthy_life_expectancy_df = pd.read_csv(healthy_life_expectancy_file)
healthy_life_expectancy_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2019,...,NaN,NaN,NaN,NaN,NaN,42.0,NaN,NaN,EN,2020-12-04T05:00:00.000Z
1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2019,...,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,EN,2020-12-04T05:00:00.000Z
2,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2019,...,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,EN,2020-12-04T05:00:00.000Z
3,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2019,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,EN,2020-12-04T05:00:00.000Z
4,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2019,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,EN,2020-12-04T05:00:00.000Z

In [ ]:
suicide_file = "Age-standardized_suicide_rates.csv"
suicide_df = pd.read_csv(suicide_file)
suicide_df.head()